
*{
    margin: 0;
    padding: 0;
   
}

footer{

    background-color: #FFF0E5;
    box-shadow: black 10px,10px,10px,10px;
    padding-top: 2%;
}

.textefooter{
    display: block;
    justify-self: center;
    flex-direction: row;
    margin-top: 2.5%;
    font-size: x-large;
}



h3{
    display: flex;
    justify-content: center;
    margin: 4%;
    font-size: x-large;
}

.pfooter{
    margin-top: 1%;
    font-size: large;
    display: flex;
    justify-content: center;
    transition: color 0.5s ease-in-out;
    font-weight: bold;
    margin-right: 1.5%;
}

.pfooter:hover{
    color: #2A9D8F;
}

.divfooter{
    display: flex;
    justify-content: center;
}


.button{
    background-color: #2A9D8F;
    transition: background-color 0.5s ease-in-out;
    border-radius: 20px;
    width: 30%;
}

.button:hover{
    background-color: red;
}

.loupe{
    width: 10%;
}

.logo{
    width: 5%;
    display: flex;
    justify-self: center;
    flex-wrap: nowrap;
    margin: 4%;
    margin-bottom: 6%;
    margin-top: 4%;
}

.divlogo{
    display: flex;
    justify-content: center;
}

.form {
    --clr: #58bc82;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
    justify-self: center;
    border-radius: 20px;
    padding: 1%;
    background-color: white;
  }

  label{
    display: block;
    align-items: center;
    font-weight: bold;
  }

  .input-span{
    display: block;
  }

  .submit{
    background-color: #2A9D8F;
    font-weight: bold;
    width: 50%;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }



* {
    font-family: 'Liberation sans', sans-serif;
}

@media (max-width: 600px) {
    .logo{
        width: 10%;
    }

    .textefooter{
        font-size: 90%;
        margin-top: 3%;
        font-size: larger;
    }

    h3{
    }

    .form{
        flex-direction: column;
        align-items: center;
        width: 80%;
    }


    .pfooter{
        margin-top: 2%;
        font-size: 70%;
        display: flex;
        justify-content: center;
    }

    


}

