* {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #fff0e5;
  box-shadow: black 10px, 10px, 10px, 10px;
  padding-top: 1%;
}

.textefooter {
  display: block;
  justify-self: center;
  flex-direction: row;
  margin-top: 2.5%;
  font-size: x-large;
}

h3 {
  display: flex;
  justify-content: center;
  margin: 4%;
  font-size: x-large;
}

.pfooter {
  margin-top: 1%;
  font-size: large;
  display: flex;
  justify-content: center;
  transition: color 0.5s ease-in-out;
}

.pfooter:hover {
  color: #2a9d8f;
}

.divfooter {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #2a9d8f;
  transition: background-color 0.5s ease-in-out;
  border-radius: 20px;
  width: 30%;
}

.button:hover {
  background-color: red;
}

.loupe {
  width: 10%;
}

.logo {
  width: 5%;
  display: flex;
  justify-self: center;
  display: inline;
  flex-wrap: nowrap;
  margin: 2%;
  margin-bottom: 1%;
  margin-top: -2%;
}

.divlogo {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .logo {
    width: 10%;
  }

  .textefooter {
    font-size: 90%;
    margin-top: 3%;
    font-size: larger;
  }

  

  .pfooter {
    margin-top: 2%;
    font-size: 70%;
    display: flex;
    justify-content: center;
  }
}
