:root {
    --couleur-header: #fff0e5;
    --couleur-main: #fffdf7;
    --couleur-button: #2a9d8f;
    --couleur-button-back: #e63946;
    --couleur-police: #111;
  }

*{
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background-color: var(--couleur-header);
}

.logosite{
    width: 80px;
    height: 80px;
}

.imglogin{
    width: 40px;
    height: 40px;
}

header img{
    width: 40px;
    height: 40px;
}

.menu{
    position: absolute;
    border: 1px solid var(--couleur-header);
    justify-content: center;
    background-color: var(--couleur-header);
    display: none;
}

.menu-burger{
    background-color: var(--couleur-header);
    color: black;
    cursor: pointer;
    border: none;
    display: inline-block;
}

#menu-toggle:checked + .menu-burger + .menu{
    display: block;
}

.menu-inscription-connexion{
    position: relative
}

a{
    text-decoration: none;
    color: black;
}

.menu hr{
    width: 40px;
    display: flex;
}

.menu-login{
    background-color: var(--couleur-header);
    color: black;
    cursor: pointer;
    border: none;
    display: inline-block;
}

.menu2{
    position: absolute;
    border: 1px solid #FFF0E5;
    justify-content: center;
    background-color: #FFF0E5;
    display: none;
}

#menu-toggle2:checked + .menu-login + .menu2{
    display: block;
}

.submit{
    margin-top: 10px;
}


h1{
    text-align: center;
    margin-top: 30px;
}

.menu3{
    display: none;
}

input, button{
    width: 200px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid black;
    background-color:--couleur-button;
    color: white;
}



main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}   

@media screen and (min-width: 1025px) {

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative
    }

    .header-title{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .menu3, .menu-inscription-connexion{
        flex: 0 0 auto;
        margin: 0 50px;
    }

    .header-burger{
        display: none;
    }

    .menu3{
        display: flex;
        gap: 10px;
    }

    .menu3 a{
        font-size: 20px;
        border-radius: 20px;
        border: 2px solid black;
        background-color: #2A9D8F;
        color: white;
    }

    .menu3 ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .form-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }   
}